table {
  table-layout: fixed;
  width: 100%;
}

tr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

th {
  width: 100%;
  text-align: left;
}

tr,
th,
td {
  padding: 5px;
}
