#header{
    background-color: blueviolet;
    width: 100%;
}

#buttons{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

button{
    padding: 4px;
    margin: 0px 10px;
    background-color: rgb(64, 102, 136);
}